# Python
__pycache__/
*.pyc
.venv/

# macOS
.DS_Store

# VSCode
.vscode/

# Logs
*.log

# Tests
.pytest_cache/

# IDE
.idea/

# Local data
Data/

# ChatGPT workflow
exchanges/

measurements/Impulse_*.txt
measurements/exp-*/